

:root {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0px auto;
  box-sizing: border-box;
}

.menu-principal {
  width: 130px;
  border: 1px solid black;
}

a.link-menu-principal {
  display: none;
  text-align: left;
  text-decoration: none;
  padding: 20px;
  margin: auto;
}

#burger-icone {
  color: blue;
  align-items: center;
  padding: 20px;
  margin-left: 12px;
}

@media screen and (min-width: 700px) {
  .menu-principal {
    display: flex;
    justify-content: space-around;
    border: none;
  }
  
}


